In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('./Data/price_data.csv')

In [4]:
df.head(5)

   Price  Quantity
0     40    249451
1     39    256171
2     38    263254
3     37    270730
4     36    278632